@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_Layout.cshtml";
}
    <h2>Test bundeling, minification and cache busting</h2>
    <div class="test1">Test 1 styling</div>
    <div class="test2">Test 2 styling</div>