<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--
      De verschillende waarden van maxAllowedXxxLength moeten overeenkomen met elkaar:
      <appSettings>\<maxAllowedContentLength> (in bytes)
      <system.webServer>\<security>\<requestFiltering>\<requestLimits>\<maxAllowedContentLength> (in bytes)
      <system.web>\<machineKey>\<httpRuntime>\<maxRequestLength> (in KILO-bytes)
    -->
    <add key="maxAllowedContentLength" value="104857600" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6"/>
    <httpRuntime targetFramework="4.6" appRequestQueueLimit="100" executionTimeout="3600" maxRequestLength="102400" requestLengthDiskThreshold="10024000"/>
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <!-- Allow large JSON payloads. -->
        <jsonSerialization maxJsonLength="2147483647" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.webServer>
    <staticContent>
      <!-- Statisch content bijv. *.js, *.css, *.html, zo lang mogelijk cachen, we maken gebruik van 'fingerprinting' om de cache te invalideren. -->
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
      <remove fileExtension=".eot" />
      <remove fileExtension=".json" />
      <remove fileExtension=".otf" />
      <remove fileExtension=".svg" />
      <remove fileExtension=".svgz" />
      <remove fileExtension=".ttf" />
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension=".otf" mimeType="application/otf" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <mimeMap fileExtension=".svgz" mimeType="image/svg+xml" />
      <mimeMap fileExtension=".ttf" mimeType="application/ttf" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
    </staticContent>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="104857600" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>